<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.partner.mapper.ClientMapper">

    <select id="selectByPage" resultType="com.partner.entity.Client">
        SELECT id, account, name, role FROM client
        <where>
            <if test="keyword != null and keyword != ''">
                AND (account LIKE CONCAT('%', #{keyword}, '%') OR name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM client
        <where>
            <if test="keyword != null and keyword != ''">
                AND (account LIKE CONCAT('%', #{keyword}, '%') OR name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>


</mapper>